services:
  app:
    build: .
    ports:
      - "${PORT}:${PORT}" 
      - "9229:9229"
    volumes:
      - ./:/app
      - /app/node_modules
    command: npx nodemon -L --inspect=0.0.0.0:9229 index.js
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data: